hr {
    margin: 0;
    background-color: #ffffff;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.rodape__titulo {
    font-weight: 400;
}

.rodape-lista{
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
        padding: 3em 0;
    }

    .rodape-lista {
        display: flex;
        flex-direction: column;
        gap: 1em 0;
        align-content: center;
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    .lista-rodape__titulo{
        color: #464646;
        padding-bottom: 1.4em;
    }
    .lista-rodape__link {
        text-decoration: none;
        color:#474646;
    }

}

@media screen and (min-width: 1728px){
    .rodape-lista{
        border-left: 1px solid #858585;
        padding: 1em;
    }

    .rodape__titulo{
        color: #858585;
    }
}